/* Our Store */
.filter-card{
    background-color: white;
    border-radius: 10px;
    padding: 15px 15px 25px;
  }
  .filter-title{
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;color: var(--color-1c1c1b);
    margin-bottom: 30px;
  }
  .filter-card ul,
  .filter-card .form-check-label{
    list-style-type: none;
    font-size: 13px;
    line-height: 30px;
    color: var(--color-777777);
    cursor: pointer;
  }
  .filter-card .form-check-input:focus{
    box-shadow: none;
    border-color: rgba(0, 0, 0, 0.25);
  }
  .filter-card .form-check-input:checked{
    background-color: var(--color-febd69);
    border-color: var(--color-febd69);
  }
  .sub-title{
    font-size: 14px;
    font-weight: 600;
    color: var(--color-1c1c1b);
    margin-bottom: 15px;
    margin-top: 20px;
  }
  .colors{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  .colors li{
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }

  .colors li:nth-child(1){
    background-color: red;
  }
  .colors li:nth-child(2){
    background-color: green;
  }
  .colors li:nth-child(3){
    background-color: yellow;
  }
  .colors li:nth-child(4){
    background-color: blue;
  }
  .colors li:nth-child(5){
    background-color: purple;
  }
  .colors li:nth-child(6){
    background-color: grey;
  }
  .colors li:nth-child(7){
    background-color: brown;
  }
  .colors li:nth-child(8){
    background-color: rgb(12, 239, 118);
  }
  .colors li:nth-child(9){
    background-color: rgb(255, 165, 232);
  }
  .colors li:nth-child(10){
    background-color: rgb(0, 242, 255);
  }
  .colors li:nth-child(11){
    background-color: rgb(74, 76, 131);
  }
  .colors li:nth-child(12){
    background-color: rgb(8, 37, 39);
  }

  .random-products h5{
    font-size: 12px;
    margin-bottom: 8px;
  }
  .random-products b{
    font-size: 13px;
  }
  .random-products:first-child{
    border-bottom: 1px solid var(--color-ededed);
  }
  .filter-sort-grid{
    padding: 10px;
    background-color: white;
    border-radius: 10px;
  }
  .grid img{
    width: 35px;
    height: 35px;
    background-color: #f2f2f2;
    padding: 8px;
    border-radius: 3px;
    cursor: pointer;
  }
  .gr-12{
    width: 100%;
  }
  .gr-6{
    width: 49.4%;
  }
  .gr-4{
    width: 32%;
  }
  .gr-3{
    width: 24%;
  }
  .gr-12 .product-card{
    display: flex;
    gap: 20px;
  }
  .gr-6 .product-image{
    width: 100%;
  }
  .gr-6 .product-image img{
    margin: auto;
    display: block;
  }
  .gr-12 .product-card .product-image{
    width: 270px;
  }
  .gr-12 .product-card .product-image{
    height: auto;
  }
  .gr-12 .action-bar{
    top: 17%;
  }
  /* Our Store Ends Here */